*.DS_Store
*.pyc
*.class
RESTApi/htmlcov/*
*/.coverage/*
/bin
.classpath
/ConvexHull0.bmp
/ConvexHull3.bmp
/ConvexHull6.bmp
/Result0.bmp
/Result1.bmp
/Result2.bmp
/Result3.bmp
/Result4.bmp
/Result5.bmp
/Result6.bmp
/Result7.bmp
/ConvexHull1.bmp
/ConvexHull2.bmp
/ConvexHull4.bmp